av==6.1.0
bebi103==0.0.32
czifile==2018.10.18
h5py==2.8.0
matplotlib==3.0.1
numpy==1.15.4
pandas==0.23.4
pandocfilters==1.4.2
scikit-image==0.14.0
scipy==1.1.0
Sphinx==1.8.2
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.1.0
tifffile==2018.10.18
tqdm==4.28.1
